<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4 *ngIf="!hasNews">There are no news found for {{countryName}}</h4>
  <div *ngIf="hasNews">
  <ion-card *ngFor="let article of newsData">
    <img src={{article.image_url}} width="400"/>
    <ion-card-header>
      <ion-card-title><a href={{article.link}} target="_blank">{{article.title}}</a></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{article.description}}
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
