<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{countrySearch}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let country of countryData">
    <img src={{country.flags.png}} />
    <ion-card-header>
      <ion-card-title>{{country.name.official}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button expand="block" fill="outline" (click)="getNews(country.cca2, country.name.official)">News</ion-button>
      <ion-button expand="block" fill="outline" (click)="getWeather(country.capital[0], country.capitalInfo.latlng)">Weather</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
